modules = ["php-8.2"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Daemon: Hash Decoder"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Daemon: Format SMS"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Daemon: Send SMS"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Daemon: B2C Payouts"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Daemon: Check DB Phone Hash"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Daemon: Hash Decoder"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php Daemons/hash_decoder.php"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Daemon: Format SMS"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php Daemons/jiwa_format_sms.php"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Daemon: Send SMS"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php Daemons/jiwa_send_sms.php"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Daemon: B2C Payouts"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php Daemons/jiwab2c.php"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Daemon: Check DB Phone Hash"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php Daemons/check_db_phone_number_hash.php"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["php", "-S", "0.0.0.0:5000"]
